<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Sales Application</h1>
      <p class="lead text-muted">A simple application where you can create a new Sales Agent and then report his sales volume</p>
      <p>
        <a href="/addagents" class="btn btn-primary my-2">Add a new Agent</a>
        <a href="/addreports" class="btn btn-secondary my-2">Add a new Report</a>
      </p>
    </div>
  </section>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4 box-shadow">
        <div class="card-header">Agents List</div>
        <div class="card-body">
          <p class="card-text">Take a look at our Agents list</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a  href="/agents" class="btn btn-sm btn-outline-secondary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 box-shadow">
        <div class="card-header">Reports List</div>
        <div class="card-body">
          <p class="card-text">Check the reports list of every single agent</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a  href="/reports" class="btn btn-sm btn-outline-secondary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>