<div class="card">
    <div class="card-header">
        Agent List
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Hire Date</th>
                        <th>Birthday Day</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agent of agents">
                        <td>{{agent.id}}</td>
                        <td><a [routerLink]="['/agents', agent.id]">{{agent.first_name}} {{agent.last_name}}</a></td>
                        <td>{{agent.hire_date}}</td>
                        <td>{{agent.birthday_date}}</td>
                        <td>{{agent.city}}</td>
                        <td><button class="btn btn-sm btn-outline-secondary" (click)="deleteSalesAgent(agent.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>